<section data-ng-controller="ConvertersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Convert our logo</h1>
        <form role="form">
            <div class="form-group col-xs-12 col-sm-6">
                <label for="color">Color</label>
                <select class="form-control" name="color" id="color" ng-model="color" ng-options="o as o for o in response.colors"></select>
            </div>
            <div class="form-group col-xs-12 col-sm-6">
                <label for="type">Image Type</label>
                <select class="form-control" ng-model="type" name="type" id="type" ng-options="o as o for o in response.options"></select>
            </div>
            <div class="col-xs-12">
                <a class="btn-default btn" ng-click="convert()">Convert</a>

                <a class="btn-danger btn" ng-click="delete()">Delete All</a>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>

    <div class="list-group">
        <div data-ng-repeat="converter in response.results" data-ng-href="#!/converters/{{converter._id}}" class="list-group-item text-center">
            <img ng-src="{{converter}}"/>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!converters.$resolved || converters.length">
    	No Converters yet, why don't you <a href="/#!/converters/create">create one</a>?
    </div>
</section>