<section data-ng-controller="ProductsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Products</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="product in products" data-ng-href="#!/products/{{product.Id}}" class="list-group-item">
			<small class="list-group-item-text">
				Created on
				<span data-ng-bind="product.CreatedOn | date:'medium'"></span>
				by
				<span data-ng-bind="product.CreatedBy"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="product.Name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || products.length">
    	No Products yet, why don't you <a href="/#!/products/create">create one</a>?
    </div>
</section>