<section data-ng-controller="ProductsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="product.Name"></h1>

	</div>
	<div class="pull-right">

		<a class="btn btn-primary" href="/#!/products/{{product.Id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
    <p>
        Sku: <span data-ng-bind="product.Sku"></span>
    </p>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="product.CreatedOn | date:'mediumDate'"></span>
			by
			<span data-ng-bind="product.CreatedBy"></span>
		</em>
	</small>
</section>